body {

    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(72, 57, 206);
    
}

#slider {
    width: 100%;
    height: 100%;
    background-image: ('slider');

    background-size: cover;
    min-height: 100%;

   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

#slider img{
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 5000ms;
}

#slider img.selected{
    opacity: 1;
}